html{
    min-height: 100%;
    overflow: auto;
    position:relative;
}

body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
}

body > #wrapper{
    height: auto;
    overflow: auto;
    position: fixed;
    width: 100%;
    height:100%;
    min-height:100%;
}

canvas{
    position: fixed;
    background: #fff;
}